---
import faqs from "FAQs.json";

const generales = faqs.generales;
const formatos = faqs.formatos;
const categorias = faqs.categorias;
const festival = faqs.festival;
---

<section class="w-full  mt-32 flex flex-col items-center justify-center gap-1 mb-32">
  <h2 class=" max-sm:text-center text-4xl uppercase font-black leading-tight text-mav-gray">
    Preguntas Frecuentes
  </h2>
  <h5 class="text-sm italic uppercase mb-4 font-black text-mav-gray"> 
    Mavfest 2025
  </h5>
  
  {
    generales.map(({ pregunta, respuesta }) => (
      <div class="w-full px-4 mx-auto sm:max-w-xl lg:max-w-3xl"> 
        <ul class="w-full" >
      <li class="mb-6 ">

        <details
          class="group rounded-xl border border-transparent bg-mav-lightgray/20 transition-all duration-300 hover:border-mav-gray/50 hover:shadow-2xs uppercase"
          
        >
     
          <summary
            class=" font-black -tracking-wide focus-visible:ring-[#00d7c9]-400 duration-600 flex cursor-pointer select-none items-center gap-3 px-6 py-4 text-sm  text-mav-black/20 outline-none transition-all focus-visible:ring-2 group-open:text-mav-black/70 lg:text-lg"
          >
            <svg
              class="mr-1 inline-block h-7 w-7 flex-shrink-0 text-mav-black/20 transition-transform duration-300 group-open:rotate-180 lg:h-5 lg:w-5"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path d="M6 9l6 6 6-6"  />
            </svg>
            {pregunta}
          </summary>
          <div
            class="animate-fadeInFaq px-8 pb-4 pt-1 text-base leading-relaxed text-mav-gray opacity-95 transition-all duration-300 [text-transform:none]"
          >
            <p>
                {respuesta}
            </p>
          </div>
        </details>
      </li>
      </ul>
    </div>
    ))
  }
    <h5 class="text-sm italic uppercase mb-4 font-black text-mav-gray"> 
            Entrega de obras y formatos
        </h5>
  {
    formatos.map(({ pregunta, respuesta, }) => (
 <div class="w-full px-4 mx-auto sm:max-w-xl lg:max-w-3xl"> 
        <ul class="w-full" >
      <li class="mb-6 ">

        <details
          class="group rounded-xl border border-transparent bg-mav-lightgray/20 transition-all duration-300 hover:border-mav-gray/50 hover:shadow-2xs uppercase"
          
        >
     
          <summary
            class=" font-black -tracking-wide focus-visible:ring-[#00d7c9]-400 duration-600 flex cursor-pointer select-none items-center gap-3 px-6 py-4 text-sm  text-mav-black/20 outline-none transition-all focus-visible:ring-2 group-open:text-mav-black/70 lg:text-lg"
          >
            <svg
              class="mr-1 inline-block h-7 w-7 flex-shrink-0 text-mav-black/20 transition-transform duration-300 group-open:rotate-180 lg:h-5 lg:w-5"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path d="M6 9l6 6 6-6"  />
            </svg>
            {pregunta}
          </summary>
          <div
            class="animate-fadeInFaq px-8 pb-4 pt-1 text-base leading-relaxed text-mav-gray opacity-95 transition-all duration-300 [text-transform:none]"
          >
            <p>
                {respuesta}
            </p>
          </div>
        </details>
      </li>
      </ul>
    </div>
    ))
  }

  <h5 class="text-sm  italic uppercase mb-4 font-black text-mav-gray"> 
           Post - Festival
        </h5>
  {
    festival.map(({ pregunta, respuesta, }) => (
         <div class="w-full px-4 mx-auto sm:max-w-xl lg:max-w-3xl"> 
        <ul class="w-full" >
      <li class="mb-6 ">

        <details
          class="group rounded-xl border border-transparent bg-mav-lightgray/20 transition-all duration-300 hover:border-mav-gray/50 hover:shadow-2xs uppercase"
          
        >
     
          <summary
            class=" font-black -tracking-wide focus-visible:ring-[#00d7c9]-400 duration-600 flex cursor-pointer select-none items-center gap-3 px-6 py-4 text-sm  text-mav-black/20 outline-none transition-all focus-visible:ring-2 group-open:text-mav-black/70 lg:text-lg"
          >
            <svg
              class="mr-1 inline-block h-7 w-7 flex-shrink-0 text-mav-black/20 transition-transform duration-300 group-open:rotate-180 lg:h-5 lg:w-5"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path d="M6 9l6 6 6-6"  />
            </svg>
            {pregunta}
          </summary>
          <div
            class="animate-fadeInFaq px-8 pb-4 pt-1 text-base leading-relaxed text-mav-gray opacity-95 transition-all duration-300 [text-transform:none]"
          >
            <p>
                {respuesta}
            </p>
          </div>
        </details>
      </li>
      </ul>
    </div>
    ))
  }
</section>
